@model User
@{
    ViewData["Title"] = "Adicionar Utilizador";
}

<h1 class="bg-info text-white">Adicionar Utilizador</h1>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
