@model AppUser
@{
    ViewData["Title"] = "Actualizar Utilizador";
}

<h1 class="bg-info text-white">Actualizar Utilizador</h1>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Palavra-passe</label>
        <input name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
